<!-- templates/latest_orders.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Latest Orders</h1>

    {% for order in latest_orders %}
        <div class="order-container">
            <div class="order-details">
                <p><strong>Order Number:</strong> {{ order.order_number }}</p>
                <p><strong>Product:</strong> {{ order.product.name }} - Size: {{ order.product.size }} - Price: £{{ order.product.price }} - Colour: {{ order.product.colour }}</p>
                <img class="order-image" src="{{ order.product.image.url }}" alt="{{ order.product.name }} Image">
            </div>
            <div class="contact-details">
                <p><strong>Full Name:</strong> {{ order.name }}</p>
                <p><strong>Email:</strong> {{ order.email }}</p>
            </div>
            <div class="delivery-address">
                <p><strong>Delivery Address:</strong></p>
                <p>{{ order.address1 }}</p>
                {% if order.address2 %}
                    <p>{{ order.address2 }}</p>
                {% endif %}
                <p>{{ order.town_city }} - {{ order.postcode }}</p>
            </div>
            <div class="customer-info">
                {% with temp=order.email %}
                    <p><strong>Total Orders by Customer:</strong> {{ customer_objs.get(email="test@test.com").total_orders }}</p>
                {% endwith %}
            </div>            
        </div>
    {% endfor %}
{% endblock %}
