<!-- templates/tshirt_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>T-Shirt Collection</h1>

    <div class="tshirt-container">
        {% for tshirt in tshirts %}
            <div class="tshirt-card">
                <img class="tshirt-image" src="{{ tshirt.image.url }}" alt="{{ tshirt.name }} Image">
                <h2 class="tshirt-name">{{ tshirt.name }}</h2>
                <p class="tshirt-details"><strong>Colour:</strong> {{ tshirt.colour }}</p>
                <p class="tshirt-details"><strong>Size:</strong> {{ tshirt.size }}</p>
                <p class="tshirt-details"><strong>Price:</strong> £{{ tshirt.price }}</p>
                
                <!-- "Order Now" button -->
                <a class="order-button" href="{% url 'order_page' tshirt_id=tshirt.id %}">Order Now</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}